In [11]:
# import polars as pl
# my_file = "../data_downloads/aleppo_processed.csv"

# df = pl.read_csv(my_file)
# Load each data table
import pandas as pd
import os

dataset_path = os.path.abspath("../data_downloads/aleppo/Data Tables")
cgm_df = pd.read_csv(os.path.join(dataset_path, "HDeviceCGM.txt"), sep="|")
bgm_df = pd.read_csv(os.path.join(dataset_path, "HDeviceBGM.txt"), sep="|")
# a1c_df = pd.read_csv(os.path.join(dataset_path, 'HA1c.txt'), sep='|')
insulin_df = pd.read_csv(os.path.join(dataset_path, "HInsulin.txt"), sep="|")
medications_df = pd.read_csv(os.path.join(dataset_path, "HMedication.txt"), sep="|")
# patient_df = pd.read_csv(os.path.join(dataset_path, 'HPatient.txt'), sep='|')

In [12]:
print(cgm_df.columns)
print(bgm_df.columns)
# print(a1c_df.columns)
print(insulin_df.columns)
print(medications_df.columns)
# print(patient_df.columns)

Index(['RecID', 'ParentHDeviceUploadsID', 'PtID', 'SiteID',
       'DeviceDtTmDaysFromEnroll', 'DeviceTm', 'DexInternalDtTmDaysFromEnroll',
       'DexInternalTm', 'RecordType', 'GlucoseValue'],
      dtype='object')
Index(['RecID', 'ParentHDeviceUploadsID', 'PtID', 'SiteID',
       'DeviceDtTmDaysFromEnroll', 'DeviceTm', 'RecordType', 'RecordSubType',
       'GlucoseValue'],
      dtype='object')
Index(['RecID', 'PtID', 'SiteID', 'InsName', 'InsRoute', 'InsInjectionFreq',
       'InsTypeStart', 'InsTypeStartDtDaysFromEnroll', 'InsTypeStartUnknown',
       'InsTypeStopDtDaysFromEnroll', 'InsTypeStopUnknown',
       'InsTypeStartEstimate', 'InsTypeStopEstimate'],
      dtype='object')
Index(['RecID', 'PtID', 'SiteID', 'DrugName', 'MedDose', 'MedUnit',
       'MedDoseUnk', 'MedRoute', 'MedLocSide', 'MedFreqType', 'MedFreqNum',
       'MedFreqPer', 'MedFreqUnk', 'MedInd', 'MedicalCondition1',
       'MedicalCondition2', 'AdverseEvent1', 'AdverseEvent2',
       'PreExistingCondition1', 'PreExistingCondition2', 'MedStartTrtCat',
       'MedStartDtDaysFromEnroll', 'MedStartDtApprox',
       'MedStopDtDaysFromEnroll', 'MedStopDtApprox', 'MedOngoing',
       'MedStartPreEnrRange', 'MedStartMonthsAfterEnroll',
       'MedStartYearsAfterEnroll', 'MedStopMonthsAfterEnroll',
       'MedStopYearsAfterEnroll', 'MedStopDtUnk', 'MedStartDtUnk',
       'MedCondNotReqd', 'PreExistCondNotReqd', 'AdvEventNotReqd'],
      dtype='object')

In [19]:
cgm_df.shape

(14950661, 10)

# Loading Aleppo (2017) Example

In [3]:
import pandas as pd
from src.data.datasets.aleppo.aleppo import AleppoDataLoader

# NOTE: this path will be different for you, usually
# in src/data/datasets/aleppo/processed/aleppo_processed.csv if you used the script mentioned in the README
file_path = "../data_downloads/aleppo_processed.csv"
keep_columns = ["p_num", "date", "bgl"]
aleppo = AleppoDataLoader(file_path=file_path, keep_columns=keep_columns)

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'p_num', 'date', 'bgl'], dtype='object')

In [4]:
aleppo.validation_data
aleppo.train_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2015-10-09 22:58:05      2     5.06      2015-10-09 2015-10-09 22:58:05
2015-10-09 22:53:05      2     5.00      2015-10-09 2015-10-09 22:53:05
2015-10-09 22:48:05      2     5.00      2015-10-09 2015-10-09 22:48:05
2015-10-09 22:43:05      2     4.89      2015-10-09 2015-10-09 22:43:05
2015-10-09 22:38:05      2     4.78      2015-10-09 2015-10-09 22:38:05
...                    ...      ...             ...                 ...
2015-09-04 08:47:46    293    11.67      2015-09-04 2015-09-04 08:47:46
2015-09-04 08:42:46    293    11.72      2015-09-04 2015-09-04 08:42:46
2015-09-04 08:37:46    293    11.67      2015-09-04 2015-09-04 08:37:46
2015-09-04 08:32:46    293    11.50      2015-09-04 2015-09-04 08:32:46
2015-09-04 08:27:46    293    11.44      2015-09-04 2015-09-04 08:27:46

[13735857 rows x 4 columns]

# Loading Anderson (2016) Dataset Example

In [8]:
t = pd.read_csv("../data_downloads/anderson_processed.csv")
t.rename(columns={"id": "p_num", "time": "date", "gl": "bgl"}, inplace=True)
t.to_csv("../data_downloads/anderson_processed.csv", index=False)

In [9]:
from src.data.datasets.anderson.anderson import AndersonDataLoader
import os

dataset = "../data_downloads/anderson"
ketones_file_path = os.path.join(dataset, "Data Tables", "Ketone.txt")
# NOTE: this path will be different for you, usually
# in src/data/datasets/anderson/processed/anderson_processed.csv if you used the script mentioned in the README
file_path = "../data_downloads/anderson_processed.csv"
keep_columns = ["p_num", "date", "bgl"]
loader = AndersonDataLoader(
    ketones_file_path=ketones_file_path, file_path=file_path, keep_columns=keep_columns
)

Index(['p_num', 'date', 'bgl'], dtype='object')

In [10]:
loader.train_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2013-09-29 17:36:48      1    10.78      2013-09-29 2013-09-29 17:36:48
2013-09-29 17:41:48      1    11.33      2013-09-29 2013-09-29 17:41:48
2013-09-29 17:46:48      1    11.17      2013-09-29 2013-09-29 17:46:48
2013-09-29 17:51:48      1    11.33      2013-09-29 2013-09-29 17:51:48
2013-09-29 17:56:48      1    11.11      2013-09-29 2013-09-29 17:56:48
...                    ...      ...             ...                 ...
2012-01-22 08:55:13     30     3.17      2012-01-22 2012-01-22 08:55:13
2012-01-22 09:00:13     30     2.83      2012-01-22 2012-01-22 09:00:13
2012-01-22 09:05:13     30     3.50      2012-01-22 2012-01-22 09:05:13
2012-01-22 09:10:13     30     4.28      2012-01-22 2012-01-22 09:10:13
2012-01-22 09:15:13     30     5.00      2012-01-22 2012-01-22 09:15:13

[1141943 rows x 4 columns]

In [11]:
loader.validation_data

                     p_num  bg-0:00 day_start_shift            datetime
date
2014-02-10 14:35:39      1    16.28      2014-02-10 2014-02-10 14:35:39
2014-02-10 14:40:39      1    16.28      2014-02-10 2014-02-10 14:40:39
2014-02-10 14:45:39      1    16.33      2014-02-10 2014-02-10 14:45:39
2014-02-10 14:50:39      1    16.33      2014-02-10 2014-02-10 14:50:39
2014-02-10 14:55:39      1    16.28      2014-02-10 2014-02-10 14:55:39
...                    ...      ...             ...                 ...
2012-12-22 06:36:47     30     7.61      2012-12-22 2012-12-22 06:36:47
2012-12-22 06:41:47     30     7.33      2012-12-22 2012-12-22 06:41:47
2012-12-22 06:46:47     30     7.11      2012-12-22 2012-12-22 06:46:47
2012-12-22 06:51:47     30     6.89      2012-12-22 2012-12-22 06:51:47
2012-12-22 06:56:47     30     6.72      2012-12-22 2012-12-22 06:56:47

[157952 rows x 4 columns]