In [1]:
from src.data.diabetes_datasets.data_loader import get_loader

loader = get_loader(
    data_source_name="kaggle_brisT1D",
    dataset_type="train",
    keep_columns=[
        "datetime",
        "p_num",
        "bg-0:00",
        "hr-0:00",
        "steps-0:00",
        "cals-0:00",
        "cob",
        "carb_availability",
        "iob",
        "insulin_availability",
    ],
    use_cached=True,
)

In [2]:
loader.processed_data.head()
loader.validation_data.head()

,datetime,p_num,bg-0:00,hr-0:00,steps-0:00,cals-0:00,cob,carb_availability,iob,insulin_availability
6723,2025-03-12 06:55:00,p01,NaN,NaN,NaN,NaN,87.408970,48.647153,28.187021,1.931029
6724,2025-03-12 07:10:00,p01,NaN,80.3,92.0,4.8,81.394240,47.241370,27.295364,1.899391
6725,2025-03-12 07:25:00,p01,NaN,75.5,0.0,4.8,75.574056,45.482110,26.425267,1.863221
6726,2025-03-12 07:40:00,p01,NaN,76.9,65.0,4.8,69.987191,43.473307,25.572340,1.823792
6727,2025-03-12 07:55:00,p01,NaN,77.1,0.0,5.0,59.271225,36.874083,22.067263,1.513891