
# Probabilistic Forecasting with `sktime`: Distribution Forecast

## Notebook Goal: 
* Provide an example workflow of a distribution forecast with BGL data using sktime.
* Demonstrate how to use Optuna for a single forecasting type.

In [2]:
%load_ext autoreload
%autoreload 2

## Data Load

In [3]:
from src.data.data_loader import load_data
import pandas as pd

# Load the data with specified columns
df = load_data(data_source_name="kaggle_brisT1D", dataset_type="train")

/Users/tonychan/GlucoseML/nocturnal-hypo-gly-prob-forecast/src/data/data_loader.py:31: DtypeWarning: Columns (435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path, usecols=keep_columns)

In [4]:
# Specify the columns to keep
id_vars = ["id", "p_num", "time"]
feature_cols = ["bg", "insulin", "carbs", "hr", "steps", "cals", "activity"]


features = {}
for feature in feature_cols:
    features[feature] = [col for col in df.columns if feature in col]


def process_row(row, features):
    first_feature = True
    row_df = None
    row_df_temp = pd.DataFrame(row).T

    for feature, feature_cols in features.items():
        melted = row_df_temp.melt(
            id_vars=id_vars,
            value_vars=feature_cols,
            var_name="time_offset",
            value_name=feature,
        )

        if first_feature:
            row_df = melted
            first_feature = False
            melted["time_offset"] = melted["time_offset"].str.replace(f"{feature}-", "")
        else:
            row_df[feature] = melted[feature]

    return row_df


def process_patient(patient_df: pd.DataFrame):
    # For each patient, make each row in a dataframe
    rows = []
    print("There are ", len(patient_df), " rows in this patient")
    for id, row in patient_df.iterrows():
        print("Processing row ", id)
        rows.append(process_row(row, features))

        if id == 200:
            break

    return rows


def process_patients(df: pd.DataFrame):
    patients = {}
    # Process each patient
    for p_num, patient_df in df.groupby("p_num"):
        patients[p_num] = process_patient(patient_df)
        # Only process the first patient
        break

    return patients


# TODO:
# 1. Remove if (id == 200):
# 2. Remove the break
# 3. Find a way to improve this
processed_patients = process_patients(df)
processed_patients["p01"]

There are  8459  rows in this patient
Processing row  0
Processing row  1
Processing row  2
Processing row  3
Processing row  4
Processing row  5
Processing row  6
Processing row  7
Processing row  8
Processing row  9
Processing row  10
Processing row  11
Processing row  12
Processing row  13
Processing row  14
Processing row  15
Processing row  16
Processing row  17
Processing row  18
Processing row  19
Processing row  20
Processing row  21
Processing row  22
Processing row  23
Processing row  24
Processing row  25
Processing row  26
Processing row  27
Processing row  28
Processing row  29
Processing row  30
Processing row  31
Processing row  32
Processing row  33
Processing row  34
Processing row  35
Processing row  36
Processing row  37
Processing row  38
Processing row  39
Processing row  40
Processing row  41
Processing row  42
Processing row  43
Processing row  44
Processing row  45
Processing row  46
Processing row  47
Processing row  48
Processing row  49
Processing row  50
Processing row  51
Processing row  52
Processing row  53
Processing row  54
Processing row  55
Processing row  56
Processing row  57
Processing row  58
Processing row  59
Processing row  60
Processing row  61
Processing row  62
Processing row  63
Processing row  64
Processing row  65
Processing row  66
Processing row  67
Processing row  68
Processing row  69
Processing row  70
Processing row  71
Processing row  72
Processing row  73
Processing row  74
Processing row  75
Processing row  76
Processing row  77
Processing row  78
Processing row  79
Processing row  80
Processing row  81
Processing row  82
Processing row  83
Processing row  84
Processing row  85
Processing row  86
Processing row  87
Processing row  88
Processing row  89
Processing row  90
Processing row  91
Processing row  92
Processing row  93
Processing row  94
Processing row  95
Processing row  96
Processing row  97
Processing row  98
Processing row  99
Processing row  100
Processing row  101
Processing row  102
Processing row  103
Processing row  104
Processing row  105
Processing row  106
Processing row  107
Processing row  108
Processing row  109
Processing row  110
Processing row  111
Processing row  112
Processing row  113
Processing row  114
Processing row  115
Processing row  116
Processing row  117
Processing row  118
Processing row  119
Processing row  120
Processing row  121
Processing row  122
Processing row  123
Processing row  124
Processing row  125
Processing row  126
Processing row  127
Processing row  128
Processing row  129
Processing row  130
Processing row  131
Processing row  132
Processing row  133
Processing row  134
Processing row  135
Processing row  136
Processing row  137
Processing row  138
Processing row  139
Processing row  140
Processing row  141
Processing row  142
Processing row  143
Processing row  144
Processing row  145
Processing row  146
Processing row  147
Processing row  148
Processing row  149
Processing row  150
Processing row  151
Processing row  152
Processing row  153
Processing row  154
Processing row  155
Processing row  156
Processing row  157
Processing row  158
Processing row  159
Processing row  160
Processing row  161
Processing row  162
Processing row  163
Processing row  164
Processing row  165
Processing row  166
Processing row  167
Processing row  168
Processing row  169
Processing row  170
Processing row  171
Processing row  172
Processing row  173
Processing row  174
Processing row  175
Processing row  176
Processing row  177
Processing row  178
Processing row  179
Processing row  180
Processing row  181
Processing row  182
Processing row  183
Processing row  184
Processing row  185
Processing row  186
Processing row  187
Processing row  188
Processing row  189
Processing row  190
Processing row  191
Processing row  192
Processing row  193
Processing row  194
Processing row  195
Processing row  196
Processing row  197
Processing row  198
Processing row  199
Processing row  200

[       id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_0   p01  06:10:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_0   p01  06:10:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_0   p01  06:10:00        5:45   9.6  0.0083   NaN  NaN   NaN  NaN
 3   p01_0   p01  06:10:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_0   p01  06:10:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_0   p01  06:10:00        0:15  16.2  0.0583   NaN  NaN   NaN  NaN
 69  p01_0   p01  06:10:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_0   p01  06:10:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_0   p01  06:10:00        0:00  15.1  0.0417   NaN  NaN   NaN  NaN
 72  p01_0   p01  06:10:00     bg+1:00  13.4     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_1   p01  06:25:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_1   p01  06:25:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_1   p01  06:25:00        5:45   9.7  0.0083   NaN  NaN   NaN  NaN
 3   p01_1   p01  06:25:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_1   p01  06:25:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_1   p01  06:25:00        0:15  15.1  0.0417   NaN  NaN   NaN  NaN
 69  p01_1   p01  06:25:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_1   p01  06:25:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_1   p01  06:25:00        0:00  14.4  0.0417   NaN  NaN   NaN  NaN
 72  p01_1   p01  06:25:00     bg+1:00  12.8     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_2   p01  06:40:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_2   p01  06:40:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_2   p01  06:40:00        5:45   9.2  0.0083   NaN  NaN   NaN  NaN
 3   p01_2   p01  06:40:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_2   p01  06:40:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_2   p01  06:40:00        0:15  14.4  0.0417   NaN  NaN   NaN  NaN
 69  p01_2   p01  06:40:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_2   p01  06:40:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_2   p01  06:40:00        0:00  13.9  0.0417   NaN  NaN   NaN  NaN
 72  p01_2   p01  06:40:00     bg+1:00  15.5     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_3   p01  06:55:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_3   p01  06:55:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_3   p01  06:55:00        5:45   8.7  0.0083   NaN  NaN   NaN  NaN
 3   p01_3   p01  06:55:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_3   p01  06:55:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_3   p01  06:55:00        0:15  13.9  0.0417   NaN  NaN   NaN  NaN
 69  p01_3   p01  06:55:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_3   p01  06:55:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_3   p01  06:55:00        0:00  13.8  0.0417   NaN  NaN   NaN  NaN
 72  p01_3   p01  06:55:00     bg+1:00  14.8     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_4   p01  07:10:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_4   p01  07:10:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_4   p01  07:10:00        5:45   8.4  0.0083   NaN  NaN   NaN  NaN
 3   p01_4   p01  07:10:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_4   p01  07:10:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_4   p01  07:10:00        0:15  13.8  0.0417   NaN  NaN   NaN  NaN
 69  p01_4   p01  07:10:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_4   p01  07:10:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_4   p01  07:10:00        0:00  13.4  0.0417   NaN  NaN   NaN  NaN
 72  p01_4   p01  07:10:00     bg+1:00  12.7     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_5   p01  07:25:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_5   p01  07:25:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_5   p01  07:25:00        5:45   8.1  0.0083   NaN  NaN   NaN  NaN
 3   p01_5   p01  07:25:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_5   p01  07:25:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_5   p01  07:25:00        0:15  13.4  0.0417   NaN  NaN   NaN  NaN
 69  p01_5   p01  07:25:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_5   p01  07:25:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_5   p01  07:25:00        0:00  12.8  0.0417   NaN  NaN   NaN  NaN
 72  p01_5   p01  07:25:00     bg+1:00  11.4     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_6   p01  07:40:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_6   p01  07:40:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_6   p01  07:40:00        5:45   8.3  0.0083   NaN  NaN   NaN  NaN
 3   p01_6   p01  07:40:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_6   p01  07:40:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_6   p01  07:40:00        0:15  12.8  0.0417   NaN  NaN   NaN  NaN
 69  p01_6   p01  07:40:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_6   p01  07:40:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_6   p01  07:40:00        0:00  15.5  0.0417  20.0  NaN   NaN  NaN
 72  p01_6   p01  07:40:00     bg+1:00  11.9     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_7   p01  07:55:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_7   p01  07:55:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_7   p01  07:55:00        5:45   9.6  0.0083   NaN  NaN   NaN  NaN
 3   p01_7   p01  07:55:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_7   p01  07:55:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_7   p01  07:55:00        0:15  15.5  0.0417  20.0  NaN   NaN  NaN
 69  p01_7   p01  07:55:00        0:10   NaN  6.5417   NaN  NaN   NaN  NaN
 70  p01_7   p01  07:55:00        0:05   NaN  0.0417   NaN  NaN   NaN  NaN
 71  p01_7   p01  07:55:00        0:00  14.8  0.0417   NaN  NaN   NaN  NaN
 72  p01_7   p01  07:55:00     bg+1:00  15.1     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_8   p01  08:10:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_8   p01  08:10:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_8   p01  08:10:00        5:45  11.1  0.0083   NaN  NaN   NaN  NaN
 3   p01_8   p01  08:10:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_8   p01  08:10:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_8   p01  08:10:00        0:15  14.8  0.0417   NaN  NaN   NaN  NaN
 69  p01_8   p01  08:10:00        0:10   NaN  0.0417   NaN  NaN   NaN  NaN
 70  p01_8   p01  08:10:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_8   p01  08:10:00        0:00  12.7  0.0583   NaN  NaN   NaN  NaN
 72  p01_8   p01  08:10:00     bg+1:00  17.1     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
        id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_9   p01  08:25:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_9   p01  08:25:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_9   p01  08:25:00        5:45  11.8  0.0083   NaN  NaN   NaN  NaN
 3   p01_9   p01  08:25:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_9   p01  08:25:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..    ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_9   p01  08:25:00        0:15  12.7  0.0583   NaN  NaN   NaN  NaN
 69  p01_9   p01  08:25:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_9   p01  08:25:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_9   p01  08:25:00        0:00  11.4  0.0583   NaN  NaN   NaN  NaN
 72  p01_9   p01  08:25:00     bg+1:00  17.9     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_10   p01  08:40:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_10   p01  08:40:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_10   p01  08:40:00        5:45  12.8  0.0083   NaN  NaN   NaN  NaN
 3   p01_10   p01  08:40:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_10   p01  08:40:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_10   p01  08:40:00        0:15  11.4  0.0583   NaN  NaN   NaN  NaN
 69  p01_10   p01  08:40:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_10   p01  08:40:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_10   p01  08:40:00        0:00  11.9  0.0583   NaN  NaN   NaN  NaN
 72  p01_10   p01  08:40:00     bg+1:00  17.4     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_11   p01  08:55:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_11   p01  08:55:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_11   p01  08:55:00        5:45  13.9  0.0083   NaN  NaN   NaN  NaN
 3   p01_11   p01  08:55:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_11   p01  08:55:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_11   p01  08:55:00        0:15  11.9  0.0583   NaN  NaN   NaN  NaN
 69  p01_11   p01  08:55:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_11   p01  08:55:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_11   p01  08:55:00        0:00  15.1  0.0583   4.0  NaN   NaN  NaN
 72  p01_11   p01  08:55:00     bg+1:00  16.1     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_12   p01  09:10:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_12   p01  09:10:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_12   p01  09:10:00        5:45  14.2  0.0083   NaN  NaN   NaN  NaN
 3   p01_12   p01  09:10:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_12   p01  09:10:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_12   p01  09:10:00        0:15  15.1  0.0583   4.0  NaN   NaN  NaN
 69  p01_12   p01  09:10:00        0:10   NaN  2.6583   NaN  NaN   NaN  NaN
 70  p01_12   p01  09:10:00        0:05   NaN  1.0583   NaN  NaN   NaN  NaN
 71  p01_12   p01  09:10:00        0:00  17.1  0.0583   NaN  NaN   NaN  NaN
 72  p01_12   p01  09:10:00     bg+1:00  14.3     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_13   p01  09:25:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_13   p01  09:25:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_13   p01  09:25:00        5:45  14.2  0.0083   NaN  NaN   NaN  NaN
 3   p01_13   p01  09:25:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_13   p01  09:25:00        5:35   NaN  0.0083   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_13   p01  09:25:00        0:15  17.1  0.0583   NaN  NaN   NaN  NaN
 69  p01_13   p01  09:25:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_13   p01  09:25:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_13   p01  09:25:00        0:00  17.9  0.0583   NaN  NaN   NaN  NaN
 72  p01_13   p01  09:25:00     bg+1:00  12.6     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_14   p01  09:40:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_14   p01  09:40:00        5:50   NaN  0.0083   NaN  NaN   NaN  NaN
 2   p01_14   p01  09:40:00        5:45  15.4  0.0083   NaN  NaN   NaN  NaN
 3   p01_14   p01  09:40:00        5:40   NaN  0.0083   NaN  NaN   NaN  NaN
 4   p01_14   p01  09:40:00        5:35   NaN  0.0583   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_14   p01  09:40:00        0:15  17.9  0.0583   NaN  NaN   NaN  NaN
 69  p01_14   p01  09:40:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_14   p01  09:40:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_14   p01  09:40:00        0:00  17.4  0.0583   NaN  NaN   NaN  NaN
 72  p01_14   p01  09:40:00     bg+1:00  11.2     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_15   p01  09:55:00        5:55   NaN  0.0083   NaN  NaN   NaN  NaN
 1   p01_15   p01  09:55:00        5:50   NaN  0.0583   NaN  NaN   NaN  NaN
 2   p01_15   p01  09:55:00        5:45  17.2  0.0583   NaN  NaN   NaN  NaN
 3   p01_15   p01  09:55:00        5:40   NaN  0.0583   NaN  NaN   NaN  NaN
 4   p01_15   p01  09:55:00        5:35   NaN  0.0583   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_15   p01  09:55:00        0:15  17.4  0.0583   NaN  NaN   NaN  NaN
 69  p01_15   p01  09:55:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_15   p01  09:55:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_15   p01  09:55:00        0:00  16.1  0.0583   NaN  NaN   NaN  NaN
 72  p01_15   p01  09:55:00     bg+1:00   8.6     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_16   p01  10:10:00        5:55   NaN  0.0583   NaN  NaN   NaN  NaN
 1   p01_16   p01  10:10:00        5:50   NaN  0.0583   NaN  NaN   NaN  NaN
 2   p01_16   p01  10:10:00        5:45  18.2  0.0583   NaN  NaN   NaN  NaN
 3   p01_16   p01  10:10:00        5:40   NaN  0.0583   NaN  NaN   NaN  NaN
 4   p01_16   p01  10:10:00        5:35   NaN  0.0583   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_16   p01  10:10:00        0:15  16.1  0.0583   NaN  NaN   NaN  NaN
 69  p01_16   p01  10:10:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_16   p01  10:10:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_16   p01  10:10:00        0:00  14.3  0.0583   NaN  NaN   NaN  NaN
 72  p01_16   p01  10:10:00     bg+1:00   6.6     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_17   p01  10:25:00        5:55   NaN  0.0583   NaN  NaN   NaN  NaN
 1   p01_17   p01  10:25:00        5:50   NaN  0.0583   NaN  NaN   NaN  NaN
 2   p01_17   p01  10:25:00        5:45  18.4  0.0583   NaN  NaN   NaN  NaN
 3   p01_17   p01  10:25:00        5:40   NaN  0.0583   NaN  NaN   NaN  NaN
 4   p01_17   p01  10:25:00        5:35   NaN  0.0583   NaN  NaN   NaN  NaN
 ..     ...   ...       ...         ...   ...     ...   ...  ...   ...  ...
 68  p01_17   p01  10:25:00        0:15  14.3  0.0583   NaN  NaN   NaN  NaN
 69  p01_17   p01  10:25:00        0:10   NaN  0.0583   NaN  NaN   NaN  NaN
 70  p01_17   p01  10:25:00        0:05   NaN  0.0583   NaN  NaN   NaN  NaN
 71  p01_17   p01  10:25:00        0:00  12.6  0.0583   NaN  NaN   NaN  NaN
 72  p01_17   p01  10:25:00     bg+1:00   5.8     NaN   NaN  NaN   NaN  NaN

    activity
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 ..      ...
 68      NaN
 69      NaN
 70      NaN
 71      NaN
 72      NaN

 [73 rows x 11 columns],
         id p_num      time time_offset    bg insulin carbs   hr steps cals  \
 0   p01_18   p01  10:40:00        5:55   NaN  0.0583   NaN  NaN   NaN  NaN
 1   p01_18   p01  10:40:00        5:50   NaN  0.0583   NaN  NaN   NaN  NaN
 2   p01_18   p01  10:40:00        5:45  18.0  0.0583   NaN  NaN   NaN  NaN

In [5]:
from sktime.forecasting.arima import ARIMA

# step 1: data specification
y = df["bg-0:00"]
# step 2: specifying forecasting horizon
fh = [1, 2, 3]
# step 3: specifying the forecasting algorithm
forecaster = ARIMA()
# step 4: fitting the forecaster
forecaster.fit(y, fh=[1, 2, 3])
# step 5: querying predictions
y_pred = forecaster.predict()

# for probabilistic forecasting:
#   call a probabilistic forecasting method after or instead of step 5
y_pred_int = forecaster.predict_interval(coverage=0.9)
y_pred_int

:

In [7]:
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)